@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	width:90%;
	height: 720px;
    background-color: #d8d6d2;
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
}

body{
	background-image: url(../img/pattern.jpg);
}

header {
	float: left;
	width: 50%;
	height: 130px;
	background-color: #fff3f0;

}

nav{
	width: 50%;
    margin-left: 50%;
	background-color: #fff3f0;
	height: 130px;
}

#botones li a{
	font-size: 24px;
	text-decoration: none;
	float: right;
	margin-top: 80px;
	margin-right: 30px;
	color: #cf6a87;
	font-family: 'Bebas Neue', cursive;	
	letter-spacing: 2px;
} 

#botones li{
	display: inline;

}


.logo{
	float: left;
	margin-left: 30px;
	margin-top: 50px;
}


section{
	width: 100%;
	height: 540px;

}


.desarrolladora{
	width: 330px;
	height: 40px;
	background-color:  #fff3f0;
	font-family: 'Montserrat', sans-serif;
	color: #aaa69d;
	font-size: 17px;
	float: left;
	text-align: center;
	margin-left: 30px;
	padding-left: 5px;
	padding-top: 7px;
	letter-spacing: 1px;
}


.parrafomio{
	width: 350px;
	height: 100px;
	color: #cf6a87;
	text-align: left;
	margin-left: 120px;
	margin-top: 140px;
	float: left;
	line-height: 24px;
	font-family: 'Montserrat', sans-serif;
	
}
.colorparrafo{
	color: #a58c84;
}

.fotomia{
	float: right;
	margin-right: 50px;
	margin-top: 60px;
}


form{
	width: 330px;
	height: 380px;
	background-color: #e5e4e3;
	border-radius: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #cf6a87;
	font-size: 14px;
	float: left;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 60px;
	margin-left: 0px;
	text-align: left;
	
}

.cajitas{
	width: 270px;
}

.cajota{
	width: 270px;
	height: 80px;
}

.btn{
	width: 90px;
	height: 40px;
	background-color: #aaa69d;
	color: white;
	border-radius: 8px;
	font-size: 18px;
	margin-bottom: 20px;
}

.btn:hover{
	background-color: #cf6a87;
	
}

.seccionrelev{
	width: 180px;
	height: 40px;
	background-color:  #fff3f0;
	font-family: 'Montserrat', sans-serif;
	color: #aaa69d;
	font-size: 15px;
	float: left;
	text-align: center;
	margin-left: 30px;
	padding-left: 4px;
	padding-top: 8px;
	letter-spacing: 1px;
}


#bajadarelevamiento{
	color: #cf6a87;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-align: center;
	margin-top: 40px;
	line-height: 22px;
	width: 350px;
	height: 100px;
	float: left;
	margin-left: 240px;

}


#clickrelev{
	float: right;
	margin-right: 170px;
	margin-top: 100px;
}



.imagenesgaleria{
	margin-left: 330px;
	
	
}

.seccionplanos{
	width: 130px;
	height: 40px;
	background-color:  #fff3f0;
	font-family: 'Montserrat', sans-serif;
	color: #aaa69d;
	font-size: 15px;
	float: left;
	text-align: center;
	margin-left: 30px;
	padding-left: 4px;
	padding-top: 8px;
	letter-spacing: 1px;
}



#bajadaplanos{
	color: #cf6a87;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-align: center;
	margin-top: 40px;
	line-height: 22px;
	width: 350px;
	height: 100px;
	float: left;
	margin-left: 290px;

}

#clickplanos{
	float: right;
	margin-right: 170px;
	margin-top: 100px;
}

.secciondiseño{
	width: 130px;
	height: 40px;
	background-color:  #fff3f0;
	font-family: 'Montserrat', sans-serif;
	color: #aaa69d;
	font-size: 15px;
	float: left;
	text-align: center;
	margin-left: 30px;
	padding-left: 4px;
	padding-top: 8px;
	letter-spacing: 1px;
}

#bajadadiseño p{
	color: #cf6a87;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
	line-height: 22px;
	width: 350px;
	height: 50px;
	float: left;
	margin-left: 430px;

}

#parrafodiseño1 h1{
	color: #cf6a87;
	font-family: 'Montserrat', sans-serif;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	font-size: 18px;
	letter-spacing: 2px;
}

#parrafodiseño1 p{
	color: #826c65;
	font-family: 'Montserrat', sans-serif;
	float: left;
	margin-left: 30px;
	margin-top: 20px;
	font-size: 15px;
	text-align: left;
	width: 380px;
	line-height: 23px;
}

#muestratipografica{
	margin-top: 140px;
	margin-left: 300px;
}

#parrafodiseño3 h1{
	color: #cf6a87;
	font-family: 'Montserrat', sans-serif;
	float: left;
	margin-left: 680px;
	margin-top: 130px;
	font-size: 18px;
	letter-spacing: 2px;
}

#parrafodiseño3 p{
	color: #826c65;
	font-family: 'Montserrat', sans-serif;
	float: left;
	margin-left: 840px;
	margin-top: 20px;
	font-size: 15px;
	text-align: left;
	width: 380px;
	line-height: 23px;
}

#muestracolores{
	float: left;
	margin-left: 840px;
	margin-top: 20px;
}






footer {
	width: 100%;
	height: 50px;
    background-color: #fff3f0;
}
#todatuhistoria{
	margin-left: 30px;
	margin-top: 10px;
	float: left;
}
#netflix{
	margin-right: 30px;
	margin-top: 10px;
	float: right;
}
#instagram{
	margin-right: 15px;
	margin-top: 15px;
	float: right;
}
#youtube{
	margin-right: 15px;
	margin-top: 15px;
	float: right;
}